*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.list__item {
  width: 600px;
  border: 1px solid #233223;
  margin: 0 auto;
  margin-bottom: 1px;
}

.list__title {
  display: flex;
  justify-content: space-between;
  background-color: lightcoral;
  height: 30px;
}

.inner-content {
  display: none;
}

.is-open {
  display: flex;
}

.veiw {
  width: 20px;
  height: 20px;
  margin: 5px 5px;
  transition: all .5s ease;
}

.veiw:hover {
  transform: rotate(0.5turn);
}
