*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.list__item {
  width: 600px;
  border: 1px solid #233223;
  margin: 0 auto;
  margin-bottom: 1px;
}

.list__title {
  display: flex;
  justify-content: space-between;
  background-color: #f5af19;
  height: 30px;
}

.hidden-content {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.is-open {
  height: 300px;
  display: flex;
  animation: showBlock 1s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.list__btn {
  width: 25px;
  height: 25px;
  margin: 2px;
  border: none;
  background-color: transparent;
  background-image: url(img/arrow.png);
  background-position: center;
  background-size: contain;
  transition: transform 0.3s ease-in-out;
  outline: none;
}

.list__btn--transform {
  transform: rotate(0.5turn);
}
