<li class="gallery__item">
  <a
    class="gallery__link"
    href="{{largeImageURL}}"
  >
    <img
      class="gallery__image"
      src="{{webformatURL}}"
      data-source="{{largeImageURL}}"
      alt="Tulips"
    />
  </a>
</li>