* {
  box-sizing: border-box;
  /* margin: 0; */
}

body {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  color: #000000;
}

img {
  display: block;
  width: 500px;
  height: auto;
}
