* {
  box-sizing: border-box;
  margin: 5px;

}

h1 {
  text-align: center;
}

.dateWeather {
  font-weight: 700;
  font-size: 23px;
}

.cardWeather__by-day {
  display: flex;
}

ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
